force-app/main/default/flows/Case_Escalation_Milestone_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Test_1</name>
        <label>Test 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>Test_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;757542a2&quot;,&quot;targetObjectId&quot;:&quot;&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
            <value>
                <elementReference>Test_1.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Test_2</name>
        <label>Test 2</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;9c8f757d&quot;,&quot;targetObjectId&quot;:&quot;&quot;,&quot;isFocused&quot;:false},{&quot;id&quot;:&quot;f37d8bcc&quot;,&quot;targetObjectId&quot;:&quot;&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Case_Escalation_Milestone_1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case_Escalation_Milestone 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_case</name>
        <label>update case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Test_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Case Id</description>
        <name>case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
