force-app/main/default/flows/Case_Operations_Escalation_to_SPOC_GM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Escalation_Email_to_SPOC_Operations_GM</name>
        <label>Escalation Email to SPOC &amp; Operations GM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EmailUtility</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <stringValue>encalmreservation@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>case_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Case_Operations_Escalation_to_SPOC_GM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddresses</name>
            <value>
                <elementReference>final_to_address_list</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Operations_SPOC_Name_DEL</name>
        <label>Operations SPOC Name - DEL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Operations_SPOC_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.OPS_SPOC_Manager_DEL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SPOC_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Operations_SPOC_Name_GOA</name>
        <label>Operations SPOC Name - GOA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Operations_SPOC_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.OPS_SPOC_Manager_GOA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SPOC_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Operations_SPOC_Name_HYD</name>
        <label>Operations SPOC Name - HYD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Operations_SPOC_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.OPS_SPOC_Manager_HYD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SPOC_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_address_list_assignment</name>
        <label>To address list assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>To_Addresses_list</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To_Address_list_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_GM_Operations_Users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_location</name>
        <label>Check Case location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_SPOC_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.NewLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delhi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operations_SPOC_Name_DEL</targetReference>
            </connector>
            <label>DEL</label>
        </rules>
        <rules>
            <name>HYD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.NewLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hyderabad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operations_SPOC_Name_HYD</targetReference>
            </connector>
            <label>HYD</label>
        </rules>
        <rules>
            <name>GOA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.NewLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Goa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operations_SPOC_Name_GOA</targetReference>
            </connector>
            <label>GOA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>final_to_address_list</name>
        <dataType>String</dataType>
        <expression>{!To_Addresses_list} &amp; &quot;,&quot; &amp;  {!Get_SPOC_User.Email}</expression>
    </formulas>
    <formulas>
        <name>To_Address_list_formula</name>
        <dataType>String</dataType>
        <expression>{!To_Addresses_list} &amp; {!Loop_all_GM_Operations_Users.Email} &amp; &quot;,&quot;</expression>
    </formulas>
    <interviewLabel>Case_Operations_Escalation_to_SPOC_GM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Operations Escalation to SPOC &amp; GM</label>
    <loops>
        <name>Loop_all_GM_Operations_Users</name>
        <label>Loop all GM Operations Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Users_of_Operations_GM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>To_address_list_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Escalation_Email_to_SPOC_Operations_GM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Operations_GM_Role</name>
        <label>Get Operations GM Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users_of_Operations_GM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Role</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GM_Operations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SPOC_User</name>
        <label>Get SPOC User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Operations_GM_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Operations_SPOC_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_of_Operations_GM</name>
        <label>Get Users of Operations - GM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_GM_Operations_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Operations_GM_Role.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Case Id</description>
        <name>case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Operations_SPOC_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>To_Addresses_list</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
