force-app/main/default/flows/Case_Operations_SPOC_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Reminder_Email_to_Operations_SPOC</name>
        <label>Send Reminder Email to Operations SPOC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EmailUtility</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <stringValue>encalmreservation@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>case_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Case_Operations_SPOC_Reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddresses</name>
            <value>
                <elementReference>Get_SPOC_User.Email</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Reminder_to_Operations_SPOC</name>
        <label>Send Reminder to Operations SPOC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Reminder_Email_to_Operations_SPOC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recepient_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notification_title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notification_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>case_id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_UserId_to_collection_variable</name>
        <label>Assign UserId to collection variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recepient_id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SPOC_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Reminder_to_Operations_SPOC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Operations_SPOC_Name_DEL</name>
        <label>Operations SPOC Name - DEL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OperationSPOCName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.OPS_SPOC_Manager_DEL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SPOC_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Operations_SPOC_Name_GOA</name>
        <label>Operations SPOC Name - GOA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OperationSPOCName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.OPS_SPOC_Manager_GOA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SPOC_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Operations_SPOC_Name_HYD</name>
        <label>Operations SPOC Name - HYD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OperationSPOCName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.OPS_SPOC_Manager_HYD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SPOC_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Location</name>
        <label>Check Case Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_SPOC_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.NewLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delhi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operations_SPOC_Name_DEL</targetReference>
            </connector>
            <label>DEL</label>
        </rules>
        <rules>
            <name>HYD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.NewLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hyderabad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operations_SPOC_Name_HYD</targetReference>
            </connector>
            <label>HYD</label>
        </rules>
        <rules>
            <name>GOA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.NewLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Goa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operations_SPOC_Name_GOA</targetReference>
            </connector>
            <label>GOA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case_Operations_SPOC_Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Operations SPOC Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Operations_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SPOC_User</name>
        <label>Get SPOC User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_UserId_to_collection_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OperationSPOCName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>notification_body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;There is no progress by Lounge Manager&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; on&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; case - {!Get_Case_Record.CaseNumber} &lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>notification_title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Reminder to close case&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Case Id</description>
        <name>case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperationSPOCName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recepient_id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
