force-app/main/default/flows/Custom_Lead_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assignment_to_Store_Account</name>
        <label>Assignment to Store Account</label>
        <locationX>527</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>newAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_OppId_to_Pass_Details</name>
        <label>Copy 1 of Set OppId to Pass Details</label>
        <locationX>439</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Iterate_through_pass_details.Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Iterate_through_pass_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OppId_to_Pass_Details</name>
        <label>Set OppId to Pass Details</label>
        <locationX>791</locationX>
        <locationY>1370</locationY>
        <assignmentItems>
            <assignToReference>Iterate_through_pass_details.Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Create_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Type</name>
        <label>Check for Type</label>
        <locationX>527</locationX>
        <locationY>938</locationY>
        <defaultConnector>
            <targetReference>Create_Business_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business</defaultConnectorLabel>
        <rules>
            <name>Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Person_Account</targetReference>
            </connector>
            <label>Individual</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OppCloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Custom Lead Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Lead Conversion</label>
    <loops>
        <name>Copy_1_of_Iterate_Through_Addons</name>
        <label>Copy 1 of Iterate Through Addons</label>
        <locationX>351</locationX>
        <locationY>1670</locationY>
        <collectionReference>Get_Addons</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Create_Opp_LineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_oppId_as_parent_on_Pass_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Iterate_through_pass_details</name>
        <label>Copy 1 of Iterate through pass details</label>
        <locationX>351</locationX>
        <locationY>1370</locationY>
        <collectionReference>Passanger_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Set_OppId_to_Pass_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Iterate_Through_Addons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Through_Addons</name>
        <label>Iterate Through Addons</label>
        <locationX>703</locationX>
        <locationY>1670</locationY>
        <collectionReference>Get_Addons</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Opp_LineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_oppId_as_parent_on_Pass_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_pass_details</name>
        <label>Iterate through pass details</label>
        <locationX>703</locationX>
        <locationY>1262</locationY>
        <collectionReference>Passanger_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OppId_to_Pass_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Through_Addons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Contact</name>
        <label>Copy 1 of Create Contact</label>
        <locationX>791</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Iterate_through_pass_details</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Business_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Iterate_through_pass_details.Email_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Iterate_through_pass_details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Iterate_through_pass_details.Contact_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Opportunity</name>
        <label>Copy 1 of Create Opportunity</label>
        <locationX>703</locationX>
        <locationY>1154</locationY>
        <connector>
            <targetReference>Iterate_through_pass_details</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Business_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Opp_LineItem</name>
        <label>Copy 2 of Create Opp LineItem</label>
        <locationX>439</locationX>
        <locationY>1778</locationY>
        <connector>
            <targetReference>Copy_1_of_Iterate_Through_Addons</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Copy_1_of_Iterate_Through_Addons.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Records_5.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Copy_1_of_Iterate_Through_Addons.AddOnServiceQty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <elementReference>Get_Records_5.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Business_Account</name>
        <label>Create Business Account</label>
        <locationX>703</locationX>
        <locationY>1046</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Qy000003KKFNIA4</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>351</locationX>
        <locationY>1262</locationY>
        <connector>
            <targetReference>Copy_1_of_Iterate_through_pass_details</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Person_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>newAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Lead.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_LineItem</name>
        <label>Create Opp LineItem</label>
        <locationX>791</locationX>
        <locationY>1778</locationY>
        <connector>
            <targetReference>Iterate_Through_Addons</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Iterate_Through_Addons.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Copy_1_of_Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Records_5.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Iterate_Through_Addons.AddOnServiceQty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <elementReference>Get_Records_5.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>351</locationX>
        <locationY>1154</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Person_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Account</name>
        <label>Create Person Account</label>
        <locationX>351</locationX>
        <locationY>1046</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Qy000003KERjIAO</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Addons</name>
        <label>Get Addons</label>
        <locationX>527</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Passanger_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Add_On__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Airport</name>
        <label>Get Airport</label>
        <locationX>527</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Airport_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Airport__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>527</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Addons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>527</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Airport.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sector__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Airport.Flight_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Airport_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Arrival</stringValue>
            </value>
        </filters>
        <filters>
            <field>Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Service_Package__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_5</name>
        <label>Get PriceBookEntry</label>
        <locationX>527</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_to_Store_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Passanger_Details</name>
        <label>Passanger Details</label>
        <locationX>527</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Airport</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Passenger_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_oppId_as_parent_on_Pass_Details</name>
        <label>Copy 1 of Update oppId as parent on Pass Details</label>
        <locationX>351</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>Update_Lead_as_Converted</targetReference>
        </connector>
        <inputReference>Copy_1_of_Iterate_through_pass_details</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_as_Converted</name>
        <label>Update Lead as Converted</label>
        <locationX>533</locationX>
        <locationY>2140</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Converted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_oppId_as_parent_on_Pass_Details</name>
        <label>Update oppId as parent on Pass Details</label>
        <locationX>703</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>Update_Lead_as_Converted</targetReference>
        </connector>
        <inputReference>Iterate_through_pass_details</inputReference>
    </recordUpdates>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>532</locationX>
        <locationY>2284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show_Success_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Lead is converted successfully !!&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
