force-app/main/default/flows/Delete_Attachment_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>setComponentIds</name>
        <label>setComponentIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentOds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateOverSelectedFiles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateOverSelectedFiles</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Delete Attachment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Attachment Record</label>
    <loops>
        <name>iterateOverSelectedFiles</name>
        <label>iterateOverSelectedFiles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>contentDocumentRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setComponentIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Attachment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Attachments</name>
        <label>Delete Attachments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Attachment_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Attachment_Records</name>
        <label>Get Attachment Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Attachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>iterateOverSelectedFiles</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentDocumentOds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contentDocumentRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
