force-app/main/default/flows/Lead_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_follow_up_notification</name>
        <label>Create follow up notification</label>
        <locationX>176</locationX>
        <locationY>515</locationY>
        <actionName>FeedItem.NewTaskFromFeedItem</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
        </inputParameters>
        <nameSegment>FeedItem.NewTaskFromFeedItem</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_Follow_up_date</name>
        <label>Check Follow up date</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Create_follow_up_notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Follow_up_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Set_Follow_up_Date_and_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_follow_up_notification</targetReference>
            </connector>
            <label>Create Follow up task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Follow_up_date</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
