force-app/main/default/flows/Send_Shopping_Email_old.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Email_Utility_Action_1</name>
        <label>Invoke Email Utility Action 1</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>EmailUtility</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bccAddresses</name>
            <value>
                <elementReference>Additional_Email_Addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Selected_Email_Template_Detail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>CCEmailAddress.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Lead_Record_Details.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>Selected_Email_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddresses</name>
            <value>
                <elementReference>ToEmailAddress.value</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <dynamicChoiceSets>
        <name>EmailTemplateNamePicklistVal</name>
        <collectionReference>Get_EmailTemplates</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>EmailTemplate</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Lead Shopping Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Shopping Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_EmailTemplates</name>
        <label>Get EmailTemplates</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Shopping_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TemplateType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>html</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EmailTemplates_based_on_selected_Email_Template_DeveloperName</name>
        <label>Get EmailTemplates based on selected Email Template DeveloperName</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Preview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TemplateType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>html</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Email_Template</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record_Details</name>
        <label>Get Lead Record Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EmailTemplates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Email_Preview</name>
        <label>Email Preview</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Invoke_Email_Utility_Action_1</targetReference>
        </connector>
        <fields>
            <name>Selected_Email_Template_Detail</name>
            <defaultValue>
                <stringValue>{!Get_EmailTemplates_based_on_selected_Email_Template_DeveloperName.Body}</stringValue>
            </defaultValue>
            <fieldText>Selected Email Template Detail</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_Preview_Val</name>
            <defaultValue>
                <stringValue>{!Selected_Email_Template_Detail}</stringValue>
            </defaultValue>
            <fieldText>Email Preview</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Shopping_Email</name>
        <label>Send Shopping Email</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_EmailTemplates_based_on_selected_Email_Template_DeveloperName</targetReference>
        </connector>
        <fields>
            <name>ToEmailAddress</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>To Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead_Record_Details.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CCEmailAddress</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CC Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Additional_Emails</name>
            <dataType>Boolean</dataType>
            <fieldText>Additional Emails</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Email_Addresses</name>
            <dataType>String</dataType>
            <fieldText>Additional Email Addresses</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please enter additional email with comma separated values (ex johndee@gmail.com, larrythron@gmail.com)&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Additional_Emails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Selected_Email_Template</name>
            <choiceReferences>EmailTemplateNamePicklistVal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Email Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Record_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ShoppingEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailTemplatesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
