force-app/main/default/flows/SurchargeWaiveoffApprovalFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SurchargeWaiveoffApprovalHandler</name>
        <label>SurchargeWaiveoffApprovalHandler</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>01p9I000000f55NNotFound</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>oppIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>assignRecordUd</name>
        <label>assignRecordUd</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>opportunityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SurchargeWaiveoffApprovalHandler</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SurchargeWaiveoffApprovalFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SurchargeWaiveoffApprovalFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignRecordUd</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>opportunityIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
